@import 'base';

body {
    background: $background-col;
    color: $text-black;
    font-family: "Andada", serif;
    @include respond-to($size-md) {
        font-size: 1.2em;
    }
}

.metadata {
    font-size: 1em;
    font-family: "Amaranth", sans-serif;
}

code {
    font-family: "Source Code Pro", monospace;
    font-size: .8em;
}

.offset-col {
    display: none;
    @include respond-to($size-md) {
        display: inherit;
    }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.top-sep {
    border-top: 2px dashed $text-black;
    margin: 1.5em 0;
}

h1 {
    font-size: 2.5em;
}

a {
    text-decoration: none;
    border-bottom: 1px dashed $text-light;
    font-weight: bold;
    color: $text-black;
}

a:visited {
    color: inherit;
}

img {
    max-width: 100%;
}

pre, .codeBlock, .resultBlock, .graphBlock {
    overflow: scroll;
    padding: .5em;
    border: 1px dashed $text-light;
}


.codeContainer {
    margin: 1em 0;
    pre {
        padding: 0;
        border: none;
        overflow: auto;
        margin: 0;
        width: 95%;
        float: left;
    }

    .codeBlock .fa {
        float: right;
        display: inline;
    }

    .graphBlock, .resultBlock {
        border-top: none;
    }

    .graphBlock > * {
        margin: 0 auto;
    }

    .graphBlock:empty {
        display: none;
    }

    .graphBlock svg {
        width: 100%;
        &.nvd3-svg {
            height: inherit;
        }
        text {
            fill: $text-black;
        }
    }

    .resultBlock {
        background-color: $background-grey;
    }

}

.visualiser {
    font-family: 'Source Code Pro';
    font-size: .8em;
    white-space: pre;

    .visualiser-arrow, .visualiser-spacing {
        cursor: default;
    }

    .visualiser-row {
        width: 100%;
        display: inline-block;
    }
}
